{% extends "translations/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = 'Send Logs'|t %}

{% block header %}
    {{ parent() }}
    {{ include('translations/_components/app-info') }}
{% endblock %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') }
] %}

{% set subject = craft.app.getSystemName ~ ' logs ' ~  '[' ~ "now"|date("d-m-Y H:i:s") ~ ']' %}
{% set body = 'Craft version: ' ~ settings.craftVersion ~ '%0D%0APHP version: ' ~ settings.phpVersion ~ '%0D%0APHP DOM Enabled: ' ~ settings.DOMEnabled ~ '%0D%0AMultiSite: ' ~ settings.isMultisite ~ '%0D%0APlugin List: ' ~ settings.plugins %}

{% block content %}
<form id="download-logs" class="utility" method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ forms.hidden({
        name: 'action',
        value: 'translations/settings/download-logs',
    }) }}

    <div class="readable">
        <h3>{{ 'Having an issue?'|t('app') }}</h3>
        {{ 'Download your log files and ' }}<a href="mailto:support@acclaro.com?subject={{subject}}&body={{body}}">send to Acclaro support</a>
    </div>
    <span class="light italic" style="font-style:italic;">{{'Remember to attach the downloaded logs!'}}</span>

    {{ forms.dateField({
        label: 'Logs will be downloaded for selected date'|t,
        value: "now"|date('m/d/Y'),
        name: 'requestedDate',
        id: 'requestedDate',
        size: 20,
        placeholder: 'Optional',
    }) }}
    <div class="buttons">
        <button type="submit" class="btn submit icon" data-icon="download" value="submit">{{ "Download logs"|t('app') }}</button>
    </div>
</form>
{% endblock %}