<div class="recentorders-container">
    {% if orders|length %}
        <table class="data fullwidth table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th style="text-align:right;">Date Ordered</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>
                        {{ order.id }}
                    </td>
                    <td>
                        <a href="{{ order.getCpEditUrl() }}">{{ order.title }}</a>
                    </td>
                    <td>
                    {% switch order.statusLabel %}
                        {% case "Order failed" %}
                            <span class="status red"></span>{{order.statusLabel}}
                        {% case "Pending submission" %}
                            <span class="status"></span>{{order.statusLabel}}
                        {% case "In progress" %}
                            <span class="status orange"></span>{{order.statusLabel}}
                        {% case "Ready to update" %}
                            <span class="status blue"></span>{{order.statusLabel}}
                        {% case "Cancelled" %}
                            <span class="status red"></span>{{order.statusLabel}}
                        {% case "Updated" %}
                            <span class="status green"></span>{{order.statusLabel}}
                    {% endswitch %}
                    </td>
                    <td style="text-align:right;">
                        <span class="light">
                            {{ order.dateOrdered ? order.dateOrdered|date('M j, Y g:i a') : '--' }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="buttons right" style="margin-top:14px;">

            <form id="sync-orders" class="utility orders" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="translations/base/sync-orders">
                {{ csrfInput() }}
                <div class="btngroup" style="margin-right:5px;">
                    <input type="submit" class="btn submit" value="{{ "Sync Orders"|t('app') }}" />
                </div>
                <div class="sync-status"></div>
            </form>

            <div class="btngroup">
                <a class="btn" href="{{ url('translations/orders') }}">{{ 'View All Orders'|t }}</a>
            </div>
        </div>
    {% else %}
        <table class="data fullwidth table">
            <tr>
                <td>
                    <p>{{ "No Orders exist yet."|t('app') }}</p>
                </td>
            </tr>
        </table>
    {% endif %}
</div>