<div class="recentorders-container">
    {% if orders|length %}
        <table class="data fullwidth table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th style="text-align:right;">Date Ordered</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>
                        {{ order.id }}
                    </td>
                    <td>
                        <a href="{{ order.getCpEditUrl() }}">{{ order.title }}</a>
                    </td>
                    <td>
                    {% switch order.status %}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_FAILED') %}
                            <span class="status red"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_NEW') %}
                            <span class="status"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_NEEDS_APPROVAL') %}
                            <span class="status orange"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_IN_PREPARATION') %}
                            <span class="status orange"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_IN_PROGRESS') %}
                            <span class="status orange"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_IN_REVIEW') %}
                            <span class="status yellow"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_REVIEW_READY') %}
                            <span class="status yellow"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_COMPLETE') %}
                            <span class="status blue"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_CANCELED') %}
                            <span class="status red"></span>{{order.statusLabel}}
                        {% case constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED') %}
                            <span class="status green"></span>{{order.statusLabel}}
                    {% endswitch %}
                    </td>
                    <td style="text-align:right;">
                        <span class="light">
                            {{ order.dateOrdered ? order.dateOrdered|date('M j, Y g:i a') : '--' }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="buttons right" style="margin-top:14px;">

            {% set disabled = '' %}
            {% if (orderCountAcclaro == 0) %}
                {% set disabled = 'disabled' %}
            {% endif %}

            <a class="btn" href="{{ url('translations/orders') }}">{{ 'View all orders'|t }}</a>
            <div class="btngroup">
                <form id="sync-orders" class="utility orders" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="translations/order/sync-orders">
                    {{ csrfInput() }}
                    <div class="btngroup" style="margin-right:5px;">
                        <button type="submit" class="btn submit {{ disabled }} icon" data-icon="refresh" value="submit" {{ disabled }}>{{ "Sync orders"|t('app') }}</button>
                    </div>
                    <div class="sync-status"></div>
                </form>
            </div>
        </div>
    {% else %}
        <table class="data fullwidth table">
            <tr>
                <td>
                    <p>{{ "No orders exist yet."|t('app') }}</p>
                </td>
            </tr>
        </table>
    {% endif %}
</div>