{% extends "_layouts/cp" %}
{# {% import 'translations/_macros' as macros %} #}

{% set title = "Translation Dashboard"|t %}
{% set elementType = 'acclaro\\translations\\elements\\Order' %}

{% block actionButton %}
    <a class="btn submit add icon btn-create-new-order" href="{{ url('translations/orders/new') }}" style="margin-right: 5px;">{{ 'Create New Order'|t }}</a>
    <div class="buttons secondary-buttons">
        <div class="newwidget btngroup">
            <div id="newwidgetmenubtn" class="btn submit menubtn add icon {% if isSelectableWidget is empty %} disabled {% endif %}">{{ 'New widget'|t('app') }}</div>
            <div class="menu newwidgetmenu">
                <ul>
                    {% for type, info in widgetTypes if info.selectable %}
                        <li>
                            <a data-type="{{ type }}" data-name="{{ info.name }}">
                                <span class="icon">{{ info.iconSvg|raw }}</span>
                                {{ info.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="widgetManagerBtn" class="btn settings icon submit" title="{{ 'Settings'|t('app') }}"></div>
    </div>
{% endblock %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\OrderAssets") %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% set crumbs = [
    { label: 'Translations'|t, url: 'javascript:void(0)' },
] %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% set showSiteMenu = (craft.app.getIsMultiSite() ? (showSiteMenu ?? 'auto') : false) %}
{% if showSiteMenu == 'auto' %}
    {% set showSiteMenu = elementInstance.isLocalized() %}
{% endif %}

{# {% do view.registerJsFile("https://cdn.jsdelivr.net/npm/apexcharts") %} #}

{% js "$('#content').css({'background': 'none'});" %}

{% block contextMenu %}
    {% if showSiteMenu %}
        {% include "_elements/sitemenu" %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="item" id="trial-notice" style="padding-bottom: 10px; display: none; width: calc(100% - 0px)">
        <div data-title="Notice" style="">
            <div class="front" style="position: relative;">
                <div class="pane notice-pane">

                    <a class="right icon delete close-notice" title="Close" style="margin-top: -1%; padding-left: 1%; font-size: 1.2rem"></a>

                    {% set plugin = craft.app.plugins.getPlugin('translations', false) %}

                    <div class="body" style="width:100%; text-align: center; display: flex; align-items: center; flex-direction: column;">
                        <td style="text-align:center;">
                            <span>
                                {% if licenseStatus == 'valid' %}
                                    You are currently using a <span style="font-weight: bold; text-transform: uppercase">Paid</span> version of the Translations plugin for Craft.
                                {% else %}
                                    You are currently using a <span style="font-weight: bold; text-transform: uppercase">Free Trial</span> version of the Translations plugin for Craft.
                                {% endif %}

                            </span>

                            <span style="padding: 0 2%">  </span>
                            <span style="">
                                <div class="link">
                                    <a href="https://www.surveymonkey.com/r/translationsplugin">
                                        <img src="{{ baseAssetsUrl ~ '/img/feedback-craft-blue.svg' }}" height="25px" style="vertical-align: middle"/> {{ 'Submit Feedback'|t('app') }}
                                    </a>
                                </div>

                                <div class="link">
                                    {% set subject = 'Hello Acclaro' %}
                                    {% set body = 'I’m interested in learning more about your professional translation services and how you can help with the launch of global Craft sites.%0D%0A%0D%0AThank you,%0D%0AYour Name%0D%0AYour Company%0D%0AYour Phone Number' %}
                                    <a href="mailto:support@acclaro.com?subject={{subject}}&body={{body}}" style="">
                                        <img src="{{ baseAssetsUrl ~ '/img/translations-craft-blue.svg' }}" height="25px"  style="vertical-align: middle"/> {{ 'Get Translations'|t('app') }}
                                    </a>
                                </div>

                                <div class="link">
                                    {% if licenseStatus == 'valid' %}
                                        <a href="https://info.acclaro.com/translation-plugin-for-craft3-support-info">
                                         <img src="{{ baseAssetsUrl ~ '/img/upgrade-craft-blue.svg' }}" height="25px"  style="vertical-align: middle"/>  {{ 'Purchase Premium Support'|t('app') }}  </a>
                                {% else %}
                                        <a href="https://plugins.craftcms.com/translations">
                                        <img src="{{ baseAssetsUrl ~ '/img/upgrade-craft-blue.svg' }}" height="25px"  style="vertical-align: middle"/> {{ 'Upgrade to Paid'|t('app') }}  </a>
                                    {% endif %}
                                </div>
                            </span>
                        </td>
                    </div>
                </div>
            </div>
            {% if updates %}
                <div class="front" style="position: relative;">
                    <div class="pane notice-pane">
                        <a class="right icon delete close-notice" title="Close" style="margin-top: -1%; padding-left: 1%; font-size: 1.2rem"></a>
                        <div class="body" style="width:100%; text-align: center; display: flex; align-items: center; flex-direction: column;">
                            <td style="text-align:center;">
                                <span>There is an update available for Translations.
                                    <a href="utilities/updates"> View details
                                    </a>
                                    <img src="{{ baseAssetsUrl ~ '/img/right-arrow.svg' }}" height="15px" style="vertical-align: middle"/>
                                </span>
                            </td>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="translations-dashboard" style="visibility:hidden;">
        {% for widget in widgets %}
            {% if widget %}
                <div class="item" data-colspan="{{ widget.colspan }}">
                    <div id="widget{{ widget.id }}" class="widget {{ widget.type|lower }}" data-id="{{ widget.id }}" data-type="{{ widget.type }}" data-title="{{ widget.title }}">
                        <div class="front">
                            <div class="pane">
                                <div class="spinner body-loading"></div>
                                <div class="settings icon hidden"></div>
                                <h2>{{ widget.title }}</h2>
                                {% if widget.name == "Acclaro News" %}
                                    <div style="text-align:right;">
                                        <a href="{{ url('https://www.acclaro.com/translation-blog/') }}">{{ 'Visit Blog'|t }} &raquo;</a>
                                    </div>
                                {% elseif widget.name == "Modified Source Entries" %}
                                    <h5 style="margin-bottom:10px;">Primary site entries that have been modified since being translated.</h5>
                                {% elseif widget.name == "Translation Coverage by Site" %}
                                    <h5 style="margin-bottom:10px;">Coverage information for target site entries.</h5>
                                {% endif %}
                                <div class="body">
                                    {{ widget.bodyHtml|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <form class="pane">
                                <input type="hidden" name="widgetId" value="{{ widget.id }}">
                                <h2>{{ "{type} Settings"|t('app', { type: widget.name }) }}</h2>
                                <div class="settings"></div>
                                <hr>
                                <div class="buttons clearafter">
                                    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
                                    <div class="btn" role="button">{{ 'Cancel'|t('app') }}</div>
                                    <div class="spinner hidden"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}