{% extends "_layouts/cp" %}
{% set title = "Services"|t('app') %}
{% set disabledClass = "" %}

{% set crumbs = [
    { label: 'Translations'|t('app'), url: url('translations') }
] %}
{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\ServicesAssets") %}

{% block content %}
    <div class="services-container card-box">
        <div class="services-grid">
            {% for service in servicesData %}
                {% if service.title|lower == "ai/machine translation" %}
                    {% set disabledClass = "disabled" %}
                {% endif %}
                <div>
                    <div class="services-card">
                        <h3 class="services-title">{{ service.title |t('app')}}</h3>
                        <p class="services-description">{{ service.description |t('app')}}</p>
                        <p class="services-message">{{ service.message |t('app')}}</p>
                        <div class="{{ disabledClass ? "not-allowed" : ""}}">
                            <a href="{{ service.ctaUrl }}" class="cta-button {{ disabledClass }}">
                                {{ service.ctaText |t('app') }}
                            </a>
                        </div>
                    </div>
                    <div>
                        <ul class="services-benefit">
                            {% for benefit in service.keyBenefits %}
                                <li class="list">
                                    <span class="marker">✔</span> 
                                    <span>{{ benefit |t('app') }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block initJs %}
    let servicesData = {{ servicesData|json_encode|raw }};
{% endblock %}

{% js block('initJs') %}
