{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% from "_includes/forms" import text %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\OrderAsset") %}

{% set orderStatus = orderRecentStatus | default(order.status) %}

{% set isCancellable =  orderStatus != constant('acclaro\\translations\\Constants::ORDER_STATUS_NEW') and
                        orderStatus != constant('acclaro\\translations\\Constants::ORDER_STATUS_FAILED') and
                        orderStatus != constant('acclaro\\translations\\Constants::ORDER_STATUS_COMPLETE') and
                        orderStatus != constant('acclaro\\translations\\Constants::ORDER_STATUS_CANCELED') and
                        orderStatus != constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED')
%}

{% if not isEditable %}
    {% set isEditable = "noClick" %}
{% endif %}

{% set title = (isSubmitted) ? order.title : 'Create a new order' %}

{% block actionButton %}
    {% if not isProcessing %}
        <div class="translations-loader hidden">
            <p class="translations-loader-msg">
                {{ 'Please wait and do not close this window until the page finishes loading.'|t }}</p>
        </div>
        <div class="item" data-position="left" data-colspan="1">
            <div class="buttons">
                <input type="hidden" id="order-attr" data-status="{{ orderRecentStatus|default('new') }}" data-submitted="{{ isSubmitted }}"
                data-changed="{{ isChanged }}" data-translator="{{ order.translator.service|default('export_import') }}"/>
                <div id="new-order-button-group" class="btngroup submit"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
    { label: 'Orders'|t, url: url('translations/orders') },
] %}

{% if isSubmitted %}
    {% if not isProcessing %}
        {% if not isChanged %}
            {% set selectedTab = "files" %}
        {% endif %}
        {% set tabs = {
            "order": {label: "Order settings"|t, url: "#order"},
            "files": {label: "Order details"|t, url: "#files"},
        } %}
    {% endif %}
{% endif %}

{% block content %}
    {% if isProcessing %}
        {% if isProcessing == "draft" %}
            {% set message = "Due to the large order size, we've added a job to the Queue Manager to create translation drafts" %}
        {% elseif isProcessing == "publish" %}
            {% set message = "Due to the large order size, we've added a job to the Queue Manager to publish translation drafts" %}
        {% else %}
            {% set message = "Due to the large file size, we've added a job to the Queue Manager to process the upload" %}
        {% endif %}
        <div class="translations-order-confirmation flex">
            <div class="fullwidth readable">
                <span style="font-size: 48px;line-height: 48px;">🚧</span>
                <div class="thank-you">
                    <h2>Added job to queue</h2>
                    <p>{{ message }}</p>
                </div>
                <div class="instructions">
                    <p>This page should automatically refresh as soon as the job completes.</p>
                </div>
            </div>
        </div>
    {% else %}
        <form method="post" id="order-form" class="translations-order-form" accept-charset="UTF-8">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'id',
                value: orderId,
            }) }}

            {{ forms.hidden({
                    name: 'action',
                    value: 'translations/order/save-order',
                }) }}

            {{ forms.hidden({
                name: 'sourceSite',
                value: order.sourceSite,
            }) }}

            {{ forms.hidden({
                name: 'updatedFields',
                value: '',
            }) }}

            <div id="order" class="{% if selectedTab|default(null) %} hidden {% endif %}">
                {{ forms.textField({
                    label: 'Order name <span class="required"/>'|t,
                    value: order.title,
                    placeholder: 'Translation order name',
                    name: 'title',
                    id: 'title',
                    class: isEditable,
                    maxlength: 255,
                }) }}
                <input type="hidden" id="originalTitle" value="{{ order.title }}">

                {{ forms.selectField({
                    fieldClass: 'hidden',
                    label: 'Order Owner'|t,
                    value: null,
                    options: owners,
                    name: 'ownerId',
                    id: 'ownerId',
                    size: 20
                }) }}
                <hr>

                {% set elementIds = {} %}
                {% set elementVersions = {} %}
                <div id="text-field" class="field">
                    <div class="heading">
                        <label id="entries-label" for="entries">
                            Source entries
                            <span class="required"></span>
                        </label>
                    </div>
                    {% if elements %}
                        <div class="input ltr scroll-x-auto">
                            <table class="data fullwidth" dir="ltr">
                                <thead>
                                <tr>
                                    <th>{{ 'Title'|t }}</th>
                                    <th>{{ 'Version'|t }}</th>
                                    <th>{{ 'Section'|t }}</th>
                                    <th>{{ 'Date Updated'|t }}</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for element in elements %}
                                    <tr data-word-count="{{ elementWordCounts[element.id] }}">
                                        <td>{% include "_elements/element" with {'element': element} only %}
                                            {% if duplicateEntries[element.id] is defined and chkDuplicateEntries %}
                                                <span class="warning duplicate-warning">
                                                    {{ 'This entry is included<br>in the following orders:' }}
                                                    <ul style="list-style:disc;padding:5px 0 0 15px;">
                                                        {% for orderId in duplicateEntries[element.id] %}
                                                        <li>
                                                            <a href="{{ url('translations/orders/detail/'~orderId) }}" target="_blank">#{{ orderId }}</a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% set versionId = "version_" ~ element.id %}
                                            {% set versionOptions = {'current':'Current'|t ~ '...'} %}
                                            {% if versionsByElementId[element.id] is defined %}
                                                {% set versionOptions = {'current':'Current'|t ~ '...'}|merge(versionsByElementId[element.id]) %}
                                            {% endif %}
                                            {{ forms.selectField({
                                                value: elementVersionMap[element.id],
                                                options: versionOptions,
                                                name: 'version',
                                                id: versionId,
                                                class: isEditable
                                            }) }}
                                        </td>
                                        <td>
                                            {% if element.className == constant('acclaro\\translations\\Constants::CLASS_GLOBAL_SET') %}
                                                {{ 'Globals' }}
                                            {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_CATEGORY') %}
                                                {{ 'Category' }}
                                            {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_ASSET') %}
                                                {{ 'Asset' }}
                                            {% else %}
                                                {{ element.section.name }}
                                            {% endif %}

                                        </td>
                                        <td>{{ element.dateUpdated ? element.dateUpdated|date('n/j/y') : '' }}</td>
                                        <td>
                                            <a class="icon delete translations-order-delete-entry {{ isEditable }}" 
                                                title="{{ 'Delete entry'|t }}" data-element="{{element.id}}">
                                                <input type="hidden" name="elements[]" value="{{ element.id }}">
                                            </a>
                                        </td>
                                    </tr>
                                    {% set elementIds = elementIds|merge({(loop.index0):element.id}) %}
                                    {% set elementVersions = elementVersions|merge({(loop.index0): element.id ~ "_" ~ elementVersionMap[element.id]}) %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>

                <div class="field {{ isEditable }}" data-position="left" data-colspan="1">
                    <div class="buttons flex">
                        <div class="submit">
                            <input type="hidden" id="originalElementIds" value="{{ originalElementIds }}">
                            <input type="hidden" id="currentElementIds" value="{{ elementIds|join(',') }}">
                            <input type="hidden" id="originalElementVersions" name="originalElementVersions" value="{{ elementVersions|join(',') }}">
                            <input type="hidden" id="elementVersions" name="elementVersions" value="{{ elementVersions|join(',') }}">
                            <button type="button" class="btn add icon dashed addEntries">{{ 'Add an entry'|t }}</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="field">

                    <div class="heading">
                        <label class="required">{{ 'Source site'|t }}</label>
                        <input type="hidden" value="{{ url('translations/orders/create') }}" id="newOrderUrl">
                    </div>
                    <div class="input {{ orientation }}">

                        {{ forms.selectField({
                            value: sourceSiteObject.id,
                            options: {'':'Choose'|t ~ '...'}|merge(sourceSites),
                            name: 'sourceSiteSelect',
                            id: 'sourceSiteSelect',
                            class: isEditable
                        }) }}
                        <input type="hidden" id="originalSourceSiteId" value="{{ sourceSiteObject.id }}">
                    </div>
                </div>

                {{ forms.checkboxSelectField({
                    label: 'Target site(s) <span class="required"/>'|t,
                    options: sourceSites,
                    values: order.targetSites|json_decode(),
                    showAllOption: true,
                    name: 'targetSites',
                    id: 'targetSites',
                    class: isEditable
                }) }}

                <input type="hidden" id="originalTargetSiteIds" value="{{ order.targetSites }}">

                <hr>

                {{ forms.selectField({
                    label: 'Translation service <span class="required"/>'|t,
                    value: order.translatorId,
                    options: translatorOptions,
                    name: 'translatorId',
                    id: 'translatorId',
                    class: isEditable,
                    size: 20
                }) }}
                <input type="hidden" id="originalTranslatorId" value="{{ order.translatorId }}" data-id="{{ defaultTranslatorId|default(0) }}">

                {# <hr> #}
                
                {# {{ forms.lightswitchField({
                    label: 'Track changes<p class="fw-400">Track source content updates. \
                        Recomended for continuous translation workflows.</p>'|t
                    (tag('button', {
                        type: 'button',
                        id: 'expand-status-btn',
                        class: ['btn'],
                        data: {
                            icon: 'ellipsis',
                        },
                    })),
                    id: "trackChanges",
                    name: "trackChanges",
                    on: order.trackChanges
                }) }}

                {{ forms.lightswitchField({
                    label: 'Asynchronous publishing<p class="fw-400">Creates a seprate translation draft \
                        for each target language that can be published independently.</p>'|t
                        (tag('button', {
                            type: 'button',
                            id: 'expand-status-btn',
                            class: ['btn'],
                            data: {
                                icon: 'ellipsis',
                            },
                        })),
                    id: "asynchronousPublishing",
                    name: "asynchronousPublishing",
                    on: order.asynchronousPublishing
                }) }} #}

                <div id="extra-fields">
                    <hr>
                    {{ forms.dateField({
                        label: 'Requested due date'|t,
                        value: (order.requestedDueDate ? date(order.requestedDueDate) : null),
                        name: 'requestedDueDate',
                        id: 'requestedDueDate',
                        size: 20,
                        placeholder: 'Optional',
                        class: isEditable
                    }) }}
                    <input type="hidden" id="originalRequestedDueDate" value="{{ date(order.requestedDueDate) | date('m/d/Y') }}">

                    {{ forms.textareaField({
                        label: 'Order notes'|t,
                        value: order.comments,
                        name: 'comments',
                        placeholder: 'Additional comments and instructions',
                        id: 'comments',
                        class: isEditable,
                        maxlength: 2000,
                        size: 20
                    }) }}
                    <input type="hidden" id="originalComments" value="{{ order.comments }}">

                    {% set orderTags = {} %}
                    <div id="fields" class="{{ isEditable }}">
                        <div id="tab-tag" class="flex-fields">
                            <div id="fields-tag-field" class="field width-100">
                                <div class="heading">
                                    <label id="fields-tag-label" for="fields-tag">Order tags</label>
                                </div>
                                <div class="input ltr">
                                    <div id="fields-tags" class="elementselect tagselect">
                                        <div id="elementTags" class="elements">
                                            {% if hasTags %}
                                                {% for tag in tags %}
                                                    <div class="element small removable" data-editable="1" data-id="{{ tag.id }}" data-label="{{ tag.title }}">
                                                        <input type="hidden" name="tags[]" value="{{ tag.id }}"/>
                                                        <a class="delete icon custom-tag" data-label="{{ tag.title }}" data-id="{{ tag.id }}" title="Remove"></a>
                                                        <div class="label">
                                                            <span class="title">{{ tag.title }}</span>
                                                        </div>
                                                    </div>
                                                    {% set orderTags = orderTags|merge({(loop.index0):tag.title}) %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="texticon add icon">
                                            {{ text({
                                                placeholder: 'Add a tag',
                                                size: 10
                                            }) }}
                                            <div class="spinner hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="originalTags" value="{{ orderTags|join(',') }}">
                    <input type="hidden" id="tagGroupId" value="{{ tagGroup.id|default('') }}">
                </div>
            </div>
        </form>

        <div id="files" class="{% if not selectedTab|default(null) %} hidden {% endif %}">
            <form method="post" id="publish-form" accept-charset="UTF-8">
                {{ csrfInput() }}

                {{ forms.hidden({
                    name: 'action',
                    value: 'translations/order/save-draft-and-publish',
                }) }}

                {{ forms.hidden({
                    name: 'orderId',
                    value: order.id,
                }) }}
                <div id="text-field" class="field">
                    <div class="heading">
                        <label id="files-label">
                            Files
                        </label>
                        <div class="btngroup submit ml-auto">
                            <input type="button" id="draft-publish" class="btn submit disabled form-submit"
                                disabled="disabled" value="{{ 'Review changes'|t }}">
                        </div>
                    </div>
                </div>
                <div class="input ltr scroll-x-auto">
                    {% if files ?? false %}
                        <table class="data fullwidth" dir="ltr">
                            <thead>
                                <tr>
                                    {% if entriesCountByElementCompleted > 0 %}
                                        <td class="thin checkbox-cell translations-checkbox-cell">
                                            <input class="checkbox" id="element-0" type="checkbox">
                                            <label class="checkbox" for="element-0"></label>
                                        </td>
                                    {% else %}
                                        <td class="thin checkbox-cell translations-checkbox-cell">
                                            <input class="checkbox" id="element-0" type="checkbox" disabled="disabled">
                                            <label class="checkbox" for="element-0"></label>
                                        </td>
                                    {% endif %}
                                    <th>{{ 'Title'|t }}</th>
                                    <th>{{ 'Target Site'|t }}</th>
                                    <th>{{ 'Section'|t }}</th>
                                    <th>{{ 'Last Delivery'|t }}</th>
                                    <th>{{ 'Status'|t }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in elements %}
                                    {% set tempElementId = element.id %}
                                    {% for file in files[tempElementId] %}
                                        <tr data-word-count="{{ elementWordCounts[tempElementId] }}" data-element-id="{{ tempElementId }}" class="diff-clone" data-file-id="{{ file.id }}">

                                            <td class="thin checkbox-cell translations-checkbox-cell">
                                                {% if file.status == constant('acclaro\\translations\\Constants::FILE_STATUS_COMPLETE') or
                                                    file.status == constant('acclaro\\translations\\Constants::FILE_STATUS_REVIEW_READY') or
                                                    file.status == constant('acclaro\\translations\\Constants::FILE_STATUS_PUBLISHED') %}
                                                    <input class="checkbox" data-element="{{ tempElementId }}" id="file-{{ file.id }}" type="checkbox" name="files[]" value="{{ file.id }}"/>
                                                {% else %}
                                                    <input class="checkbox" data-element="{{ tempElementId }}" id="file-{{ file.id }}" type="checkbox" name="files[]" value="{{ file.id }}" disabled="disabled"/>
                                                {% endif %}
                                                <label class="checkbox" for="file-{{ file.id }}"></label>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ fileUrls[file.id] }}">
                                                                {{ translatedFiles[file.id] ?? element.title ?? element.name }}
                                                            </a>
                                                            {% if element.className != constant('acclaro\\translations\\Constants::CLASS_GLOBAL_SET') and
                                                                element.className != constant('acclaro\\translations\\Constants::CLASS_CATEGORY') and
                                                                element.className != constant('acclaro\\translations\\Constants::CLASS_ASSET') %}
                                                                <a href="{{ webUrls[file.id] }}" target="_blank" data-icon="world" title="{{ 'Visit webpage'|t }}"></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            {{fileTargetSites[file.targetSite].name}} ({{ fileTargetSites[file.targetSite].language }})
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td>
                                                {% if element.className == constant('acclaro\\translations\\Constants::CLASS_GLOBAL_SET') %}
                                                    {{ 'Globals' }}
                                                {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_CATEGORY') %}
                                                    {{ 'Category' }}
                                                {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_ASSET') %}
                                                    {{ 'Asset' }}
                                                {% else %}
                                                    {{ element.section.name }}
                                                {% endif %}

                                            </td>
                                            
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            {{ file.dateDelivered ? file.dateDelivered|date('M j, Y g:i a') : '--' }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td class="inline-flex align-center">
                                                            <span class="status {{ file.statusColor }}" 
                                                                style="position: absolute;left: -10px;"
                                                                data-status="{{ file.status == 'complete' 
                                                                or file.status == 'published' or file.status == 'ready for review' ? 1 : 0 }}">
                                                                </span>{{ file.statusLabel }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td><table><thead><th class="bg-none icon ordered desc hidden"></th></thead></table></td>
                                        </tr>
                                    {% endfor %}
                                    {% set elementIds = elementIds|merge({(loop.index0):element.id}) %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No files
                    {% endif %}
                </div>
            </form>
        </div>

        {# Additional Forms for order export/import and sync #}
        {% if order.translator.service is defined and
            order.translator.service == constant('acclaro\\translations\\Constants::TRANSLATOR_DEFAULT') %}
            <form id="export-zip" class="utility" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ forms.hidden({
                        name: 'action',
                        value: 'translations/files/create-export-zip',
                    }) }}

                {{ forms.hidden({
                    name: 'orderId',
                    value: order.id
                }) }}
            </form>
        {% else %}
            {% if order.status != constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED') %}
                <form id="sync-order" class="utility" method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ forms.hidden({
                        name: 'action',
                        value: 'translations/order/sync-order',
                    }) }}

                    {{ forms.hidden({
                        name: 'orderId',
                        value: order.id
                    }) }}
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block details %}
    {# {% if not isProcessing %} #}
        <div id="settings" class="meta">
            <div class="field">
                <div class="heading">
                    <label>Order ID</label>
                </div>

                <div class="input ltr">
                    {% if order.translator.service is defined and
                        order.translator.service != constant('acclaro\\translations\\Constants::TRANSLATOR_DEFAULT') %}
                        {% if order.serviceOrderId %}
                            {% if isCancellable %}
                                <table class="data right"><thead><th id="cancel-order-link" class="bg-none icon ordered desc"></th></thead></table>
                            {% endif %}
                            <a class="right pt-5 mr--10" href="{{translator_url}}" target="_blank">#{{ order.serviceOrderId }} </a>
                        {% else %}
                            <label class="right">{{ 'N/A' }} </label>
                        {% endif %}
                    {% else %}
                        <label class="right">{{ order.id ? "##{order.id}" : 'N/A' }} </label>
                    {% endif %}

                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Translator</label>
                </div>
                <div class="input ltr">
                    <div class="float-right">
                    {% if isSubmitted %}
                        <a class="right" href="{{ url('translations/translators/detail/'~order.translatorId) }}"
                        > {{ translatorOptions[order.translatorId] }} </a>
                    {% else %}
                        <label class="right"> {{ "N/A" }} </label>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Source Site</label>
                </div>
                <div class="input ltr">
                    <label class='float-right'>
                        {{sourceSiteObject.name}}
                        <span class="light">
                            ({{ sourceSiteObject.language }})
                        </span>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Author</label>
                </div>
                <div class="input ltr">
                    <div class="float-right">
                        <span class="status active"></span>
                        <label class="right"> {{ author ?: "N/A" }} </label>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Submitted</label>
                </div>
                <div class="input ltr">
                    <div class="float-right">
                        <label>{{ order.dateOrdered ? order.dateOrdered|date('n/j/Y') : 'N/A' }}</label>
                        <label class="pl-10">{{ order.dateOrdered ? order.dateOrdered|date('H:i A') : '' }}</label>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Due Date</label>
                </div>
                <div class="input ltr">
                    <div class="float-right">
                        <label> {{ order.requestedDueDate ? order.requestedDueDate|date('n/j/Y') : 'N/A' }} </label>
                        {# <label class="pl-10"> {{ order.requestedDueDate ? order.requestedDueDate|date('H:i A') : '' }} </label> #}
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="heading">
                    <label>Est. word count</label>
                </div>
                <div class="input ltr">
                    <label class='float-right'> {{ orderWordCount ?? 0 }} </label>
                </div>
            </div>

            {# Export/Import Or Sync Buttons #}

            {% if order.translator.service is defined and
                order.translator.service != constant('acclaro\\translations\\Constants::TRANSLATOR_DEFAULT') %}
                <div class="field" style="justify-content: space-between;">
                    <div class="heading">
                        <label id="translated-files">Translated files</label>
                    </div>
                    <button type="button" class="btn icon" data-icon="upload" value="submit" id="import-tool" style="width: 125px;">{{ "Upload"|t('app') }}
                        <div class="utility-status"></div>
                    </button>
                </div>
                <div class="hud-wrapper hidden">
                    <div id="translations-import-form" class="form meta">
                        {{ forms.hidden({
                            name: 'orderId',
                            id: 'order_id',
                            value: orderId,
                        }) }}
                    </div>
                </div>
                
                <div class="field" style="justify-content: space-between;">
                    <div class="heading">
                        <label id="acclaro-sync">My Acclaro</label>
                    </div>
                    {% if not isCancellable and 
                        order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED') %}
                        <button type="submit" form="sync-order" class="btn icon disabled" data-icon="refresh" disabled value="submit" style="width: 125px;">{{ "Sync"|t('app') }}</button>
                    {% else %}
                        <button type="submit" form="sync-order" class="btn icon right" data-icon="refresh" value="submit" style="width: 125px;">{{ "Sync"|t('app') }}</button>
                    {% endif %}
                </div>
            {% else %}
                {% if order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_NEW') or
                        order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_FAILED') or
                        order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED') %}
                    <div class="field" style="justify-content: space-between;">
                        <div class="heading">
                            <label id="source-files">Source files</label>
                        </div>
                        <button type="button" class="btn icon disabled" disabled data-icon="download" value="submit" style="width: 125px;">{{ "Download"|t('app') }}</button>
                    </div>
                    
                    <div class="field" style="justify-content: space-between;">
                        <div class="heading">
                            <label id="translated-files">Translated files</label>
                        </div>
                        <button type="button" class="btn icon disabled" disabled data-icon="upload" value="submit" style="width: 125px;">{{ "Upload"|t('app') }}</button>
                    </div>
                {% else %}
                    <div class="field" style="justify-content: space-between;">
                        <div class="heading">
                            <label id="source-files">Source files</label>
                        </div>
                        <button type="button" id="export-btn" class="btn icon" data-icon="download" value="submit" style="width: 125px;">{{ "Download"|t('app') }}
                            <div class="utility-status"></div>
                        </button>
                    </div>
                    
                    <div class="field" style="justify-content: space-between;">
                        <div class="heading">
                            <label id="translated-files">Translated files</label>
                        </div>
                        <button type="button" class="btn icon" data-icon="upload" value="submit" id="import-tool" style="width: 125px;">{{ "Upload"|t('app') }}
                            <div class="utility-status"></div>
                        </button>
                    </div>
                    <div class="hud-wrapper hidden">
                        <div id="translations-import-form" class="form meta">
                            {{ forms.hidden({
                                name: 'orderId',
                                id: 'order_id',
                                value: orderId,
                            }) }}
                        </div>
                    </div>
                    {% js 'new Craft.Translations.ExportFiles(\'export-zip\',\'export-btn\');' %}
                {% endif %}
            {% endif %}
        </div>
        <div id="meta-details" class="meta read-only">
            <div class="data">
                <div class="heading">
                    <label>Status</label>
                </div>
                <div id="status-value" class="value">
                    <span class="status {{ order.statusColour }}"></span> {{ order.statusLabel|t }}
                </div>
            </div>
            <div class="data">
                <div class="heading">
                    <span>Created At</span>
                </div>
                <div id="status-value" class="value">
                    <span> {{ order.dateOrdered ? order.dateOrdered|date('n/j/Y, H:i A') : 'N/A' }} </span>
                </div>
            </div>
            <div class="data">
                <div class="heading">
                    <span>Updated At</span>
                </div>
                <div id="status-value" class="value">
                    <span> {{ order.dateUpdated ? order.dateUpdated|date('n/j/Y, H:i A') : 'N/A' }} </span>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="heading"><b>{{ "Activity Log"|t('app') }}</b></h3>
        <div class="data meta read-only activity-log">
            <ul class="bullets">
                {% if order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_NEW') %}
                    <li> {{ 'Pending submission'|t }} </li>
                {% else %}
                    {% for log in order.activityLogArray %}
                        <li>{{ log.date }} &ndash; {{ log.message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <hr>
        {% if order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_PUBLISHED') or
              order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_FAILED') or
              order.status == constant('acclaro\\translations\\Constants::ORDER_STATUS_NEW') %}
            <a class="btn w-100 disabled">{{ "Rebuild draft previews"|t('app') }}</a>
        {% else %}
            <form id="regenerate-preview-urls" class="utility" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ forms.hidden({
                    name: 'action',
                    value: 'translations/base/regenerate-preview-urls',
                }) }}

                {{ forms.hidden({
                    name: 'orderId',
                    value: order.id
                }) }}

                <a class="btn w-100" onclick="this.closest('form').submit();return false;">{{ "Rebuild draft previews"|t('app') }}</a>
            </form>
        {% endif %}
    {# {% endif %} #}
{% endblock %}

{% set jsSettings = {
    id: 'fields-tags',
    name: 'tags',
    tagGroupId: tagGroup.id,
    sourceElementId: null,
    targetSiteId: order.sourceSite
} %}

{% js %}
    new Craft.TagSelectInput({{ jsSettings|json_encode|raw }});
{% endjs %}
