{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\OrderAssets") %}

{% set sourceSite = sourceSiteObject %}

{% set title = 'Translations'|t %}
{% block actionButton %}
    <small class="translations-version-header">{{'Version'|t}} {{pluginVersion}}</small>
{% endblock %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
    { label: 'Orders'|t, url: url('translations/orders') },
] %}

{% if isSubmitted %}
    {% set crumbs = crumbs|merge([
        { label: order.title, url: 'javascript:void(0)' },
    ]) %}
{% elseif orderId %}
    {% set crumbs = crumbs|merge([
        { label: 'Edit Order'|t, url: 'javascript:void(0)' },
    ]) %}
{% else %}
    {% set crumbs = crumbs|merge([
        { label: 'Create New Order'|t, url: 'javascript:void(0)' },
    ]) %}
{% endif %}


{% block content %}
    {% if isSubmitted %}

        <div class="top-order-navigation">
            {% if previous_order %}
                <a href="{{ previous_order }}"> « Previous Order </a>
            {% else %}
                « Previous Order
            {% endif %}
            {% if next_order %}
                <a href="{{ next_order }}"> Next Order »</a>
            {% else %}
                Next Order »
            {% endif %}
        </div>

        <div style="display: flex">
            <div class="translations-order-detail-summary">

                {% if order.translator.service is defined and order.translator.service == 'export_import' %}

                    {% if order.status == 'published'%}
                        <a class="btn disabled right margin-left" id="">{{ 'Import'|t }}</a>
                        <a class="btn disabled right" id="">{{ 'Export'|t }}</a>
                    {% else %}
                        <div class="buttons translations-order-detail-button-wrapper">
                            <a class="btn submit right" id="import-tool">{{ 'Import'|t('app') }}</a>
                            <div class="utility-status"></div>
                        </div>
                        <div class="hud-wrapper hidden">
                            <div id="translations-import-form" class="form meta">
                                {{ forms.hidden({
                                    name: 'orderId',
                                    id: 'order_id',
                                    value: orderId,
                                }) }}
                            </div>
                        </div>

                        <form id="export-zip" class="utility" method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="translations/files/create-export-zip">
                            {{ csrfInput() }}

                            {{ forms.hidden({
                                name: 'orderId',
                                value: order.id
                            }) }}

                            <div class="buttons translations-order-detail-button-wrapper">
                                <input type="submit" class="btn submit right" value="{{ "Export"|t('app') }}" />
                                <div class="utility-status"></div>
                            </div>
                        </form>
                        {% js 'new Craft.Translations.ExportFiles(\'export-zip\');' %}
                    {% endif %}
                {% else %}
                    {# {% if order.status != 'complete' and order.status != 'published' %} #}
                    {% if order.status != 'published' %}

                        <form id="sync-order" class="utility" method="post" accept-charset="UTF-8">
                            {{ csrfInput() }}
                            {{ forms.hidden({
                                name: 'action',
                                value: 'translations/base/sync-order',
                            }) }}

                            {{ forms.hidden({
                                name: 'orderId',
                                value: order.id
                            }) }}

                            <div class="buttons translations-order-detail-button-wrapper">
                                <input type="submit" class="btn submit right" value="{{ "Sync"|t('app') }}" />
                                <div class="sync-status"></div>
                            </div>
                        </form>

                        <div class="buttons translations-order-detail-button-wrapper margin-right-10">
                            <a class="btn right" id="import-tool">{{ 'Import'|t('app') }}</a>
                            <div class="utility-status"></div>
                        </div>
                        <div class="hud-wrapper hidden">
                            <div id="translations-import-form" class="form meta">
                                {{ forms.hidden({
                                    name: 'orderId',
                                    id: 'order_id',
                                    value: orderId,
                                }) }}
                            </div>
                        </div>

                    {% endif %}
                {% endif %}

                {% if order.translator.service is defined and order.translator.service != 'export_import' %}
                    <h2>{{ 'Order'|t }} #{{ order.serviceOrderId }} - {{ order.title }}</h2>
                {% else %}
                    <h2>{{ 'Order'|t }} #{{ order.id }} - {{ order.title }}</h2>
                {% endif %}


                <table class="data">
                    <tbody>
                    <tr>
                        <th>{{ 'ID'|t }}</th>
                        {% if order.translator.service is defined and order.translator.service != 'export_import' %}
                            <td><a href="{{translator_url}}" target="_blank">#{{ order.serviceOrderId }}</a></td>
                        {% else %}
                            <td>#{{ order.id }}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <th>{{ 'Name'|t }}</th>
                        <td> <span class="order_label"> <span id="order_name"> {{ order.title }} </span> &nbsp;
                                    <a class="icon edit editOrder" title="Edit Order Name"></a>
                            </span>
                            <span id="order_name_input" style="display: none">
                                <input type="hidden" id="order_id" value="{{ order.id }}">
                                <input type="text" id="new_order_name" value="{{ order.title }}">
                                <a id="saveOrderName" data-icon="check" title="Save"></a>
                                <a class="icon delete cancelOrderName" title="Cancel"></a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Translator'|t }}</th>
                        <td>{{ order.translatorId ? order.translator.name : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Source Site'|t }}</th>
                        <td>
                            {{sourceSite.name}} <span class="light">({{ sourceSite.language }})</span><br>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Target Sites'|t }}</th>
                        <td>
                            {% for targetSite in orderTargetSitesObject %}
                                {{targetSite.name}} <span class="light">({{ targetSite.language }})</span>
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Created Date'|t }}</th>
                        <td>{{ order.dateOrdered ? order.dateOrdered|date('n/j/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Status'|t }}</th>
                        <td>
                            <input type="radio" name="__status" disabled="disabled"{% if order.status == 'new' %} checked="checked"{% endif %}>&nbsp;&nbsp;{{ 'Pending submission'|t }}<br>
                            <input type="radio" name="__status" disabled="disabled"{% if order.status == 'in progress' or order.status == 'getting quote' or order.status == 'needs approval' or order.status == 'in preparation' %} checked="checked"{% endif %}>&nbsp;&nbsp;{{ 'In progress'|t }}<br>
                            {% if order.translator.service == 'acclaro' %}
                            <input type="radio" name="__status" disabled="disabled"{% if order.status == 'in review' %} checked="checked"{% endif %}>&nbsp;&nbsp;{{ 'In Review'|t }}<br>
                            {% endif %}
                            <input type="radio" name="__status" disabled="disabled"{% if order.status == 'complete' %} checked="checked"{% endif %}>&nbsp;&nbsp;{{ 'Ready to Apply'|t }}<br>
                            <input type="radio" name="__status" disabled="disabled"{% if order.status == 'published' %} checked="checked"{% endif %}>&nbsp;&nbsp;{{ 'Applied'|t }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Requested Due Date'|t }}</th>
                        <td>{{ order.requestedDueDate ? order.requestedDueDate|date('n/j/Y') : 'N/A' }}</td>
                    </tr>

                    {% if order.orderDueDate and (order.orderDueDate|date('n/j/Y') != order.requestedDueDate|date('n/j/Y')) %}
                        <tr>
                            <th>{{ 'Order Due Date'|t }}</th>
                            <td>{{ order.orderDueDate ? order.orderDueDate|date('n/j/Y') : 'N/A' }}</td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>

            <div class="translations-order-detail-entries">

                <h2>{{ 'Order Entries Translation Status'|t }}</h2>

                <table class="data">
                    <tbody>
                    <tr>
                        <td>{{ 'Expecting '|t  }}<td>
                        <td>{{entriesCountByElement}}<td>
                    <tr>
                    <tr>
                        <td>{{ 'Complete '|t  }}<td>
                        <td>{{entriesCountByElementCompleted}}<td>
                    <tr>
                    </tbody>
                </table>

                <div class="translations-order-detail-activity-log">
                    <h2>{{ 'Order Activity Log'|t }}</h2>
                    <ul class="bullets">
                        {% for log in order.activityLogArray %}
                            <li>{{ log.date }} &ndash; {{ log.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if order.status != 'published' %}
                    <form id="regenerate-preview-urls" class="utility" method="post" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        {{ forms.hidden({
                            name: 'action',
                            value: 'translations/base/regenerate-preview-urls',
                        }) }}

                        {{ forms.hidden({
                            name: 'orderId',
                            value: order.id
                        }) }}

                        <div class="buttons" style="margin-left: 40%">
                            <a onclick="this.closest('form').submit();return false;">{{ "Regenerate Preview Urls"|t('app') }}</a>
                        </div>
                    </form>
                {% endif %}
            </div>

        </div>

        <form method="post" accept-charset="UTF-8">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'translations/base/apply-drafts',
            }) }}

            {{ forms.hidden({
                name: 'orderId',
                value: order.id,
            }) }}

            <div class="translations-order-detail-summary" style="margin-top: 3rem; width: 100%;">
                <div class="elementindex">
                    <div class="main">
                        <div class="toolbar">
                            <div class="buttons right">
                                {% if order.status != 'complete' and order.status != 'published'%}
                                    <input type="hidden" value="{{ url('translations/base/add-entries') }}" id="addEntriesLink">
                                    <input type="hidden" value="1" id="checkDuplicate">
                                    <input type="button" class="btn submit addEntries form-submit" value="{{ 'Add Entries'|t }}">
                                {% endif %}

                                {% if order.status == 'complete' or order.status == 'in progress' or order.status == 'in preparation' %}
                                    <input type="submit" class="btn submit disabled translations-publish-selected-btn form-submit" data-confirm="{{ 'Are you sure you want to apply translation drafts to these entries?'|t }}" disabled="disabled" value="{{ 'Apply Translation Drafts'|t }}">
                                {% endif %}
                            </div>
                        </div>

                        <div class="elements">
                            <div class="tableview">
                                <table class="data fullwidth">
                                    <thead>
                                    <tr>
                                        {% if order.status == 'complete' or order.status == 'in progress' %}
                                            <td class="thin checkbox-cell translations-checkbox-cell">
                                                <input class="checkbox" id="element-0" type="checkbox">
                                                <label class="checkbox" for="element-0"></label>
                                            </td>
                                        {% else %}
                                            <td> &nbsp; </td>
                                        {% endif %}
                                        <th scope="col">{{ 'Title'|t }}</th>
                                        <th scope="col">{{ 'Section'|t }}</th>
                                        <th scope="col">{{ 'Source Site'|t }}</th>
                                        <th scope="col">{{ 'Target Site(s)'|t }}</th>
                                        <th scope="col">{{ 'Status'|t }}</th>
                                        <th scope="col">{{ 'Last Delivered'|t }}</th>
                                        <th scope="col">{{ 'Applied'|t }}</th>
                                        <th style="text-align:right;" scope="col">{{ 'Compare Changes'|t }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for element in elements %}

                                        {% set allowUpdate = 0 %}
                                        {% for file in files[element.id] %}
                                            {% if file.status == 'complete' %}
                                                {% set allowUpdate = 1 %}
                                            {% endif %}
                                        {% endfor %}

                                        <tr>
                                            {% if allowUpdate %}
                                                <td class="thin checkbox-cell translations-checkbox-cell">
                                                    <input class="checkbox" id="element-{{ element.id }}" type="checkbox" name="elements[]" value="{{ element.id }}"{% if isElementPublished[element.id] %} disabled="disabled"{% endif %}>
                                                    <label class="checkbox" for="element-{{ element.id }}"></label>
                                                </td>
                                            {% else %}
                                                <td class="thin checkbox-cell translations-checkbox-cell">
                                                    <input class="checkbox" id="element-{{ element.id }}" type="checkbox" name="elements[]" value="" disabled="disabled">
                                                    <label class="checkbox" for="element-{{ element.id }}"></label>
                                                </td>
                                            {% endif %}
                                            <td style="width: 250px;word-wrap: break-word;">
                                                <div class="element small hasstatus">
                                                    <span class="status {{ (element.className == 'craft\\elements\\GlobalSet') ? 'green' : element.status }}"></span>
                                                    <div class="label">
                                                            <span class="title">
                                                                <a href="{{ element.cpEditUrl }}">{{ element.title ?? element.name }}</a>
                                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {% set show_visual = 1 %}
                                                {% if element.className == 'craft\\elements\\GlobalSet' %}
                                                    {{ 'Globals' }}
                                                {% elseif element.className == 'craft\\elements\\Category' %}
                                                    {{ 'Category' }}
                                                {% else %}
                                                    {{ element.section.name }}
                                                    {% set show_visual = 0 %}
                                                {% endif %}

                                            </td>
                                            <td>{{sourceSite.name}} <span class="light">({{ sourceSite.language }})</span></td>
                                            <input type="hidden" value="1" name="sourceSites[]" value="{{ sourceSite.id }}">
                                            <td>
                                                <table>
                                                    {% for file in files[element.id] %}
                                                        <tr>
                                                            <td>
                                                                <a href="{{ fileUrls[file.id] }}">
                                                                    {{fileTargetSites[file.targetSite].name}} ({{ fileTargetSites[file.targetSite].language }})
                                                                </a>
                                                                {% if element.className != 'craft\\elements\\GlobalSet' and element.className != 'craft\\elements\\Category' %}
                                                                    <a href="{{ webUrls[file.id] }}" target="_blank" data-icon="world" title="{{ 'Visit webpage'|t }}"></a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    {% for file in files[element.id] %}
                                                        <tr>
                                                            <td>
                                                                <span class="status {{ file.statusColor }}"></span>{{ file.statusLabel }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td style="text-align:right;width:150px;">
                                                <table>
                                                    {% for file in files[element.id] %}
                                                        <tr>
                                                            <td>
                                                                {# {% if not loop.first %}
                                                                    <br>
                                                                {% endif %} #}
                                                                {{ file.dateDelivered ? file.dateDelivered|date('M j, Y g:i a') : '--' }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td style="text-align:right;width:150px;">
                                                <table>
                                                    {% for file in files[element.id] %}
                                                        {# {% if not loop.first %}
                                                            <br>
                                                        {% endif %} #}
                                                        <tr>
                                                            <td>
                                                                {% if file.status == 'published' %}
                                                                    {{ element.dateUpdated ? element.dateUpdated|date('M j, Y g:i a') : '--' }}
                                                                {% else %}
                                                                    <span style="padding-left: 8px">--</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td style="text-align:right;width:80px;">
                                                <table>
                                                    {% for file in files[element.id] %}
                                                        {# {% if not loop.first %}
                                                            <br>
                                                        {% endif %} #}
                                                        <tr>
                                                            <td>
                                                                {% if file.status in ['complete', 'published'] %}
                                                                    <a href="{{ url('translations/orders/get-file-diff') }}/{{ file.id }}" data-file-id="{{ file.id }}" data-show-visual="{{ show_visual }}"  class="view-diff" data-icon="view" title="{{ 'View diff'|t }}"> {{ 'View'|t }} </a>
                                                                {% else %}
                                                                    --
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="hidden">
            <div id="diff-modal-entry" class="modal" tabindex="-1" role="dialog" style="padding:15px;overflow-y:auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header field">
                            <div class="modal-title">
                                <h1>Entry Modification Details</h1>
                                <div class="buttons">
                                    <form method="post" accept-charset="UTF-8">
                                        {{ csrfInput() }}

                                        {{ forms.hidden({
                                            name: 'action',
                                            value: 'translations/files/apply-translation-draft',
                                        }) }}

                                        {{ forms.hidden({
                                            name: 'orderId',
                                            value: order.id,
                                        }) }}
                                        <input type="hidden" name="fileId" value="" id="diff-element">
                                        <input type="submit" class="btn submit apply-translation disabled" id="apply-translation" value="Apply Translation" disabled/>
                                        <a href="#" id="close-diff-modal-entry" class="btn">Close</a>
                                    </form>

                                </div>
                            </div>
                            <div class="heading">
                                <label for="">Entry ID:</label>
                                <div class="instructions entryId"></div>
                            </div>
                            <div class="heading">
                                <label for="">Entry Title:</label>
                                <div class="instructions entryName"></div>
                            </div>
                            <div class="heading">
                                <label for="">Site:</label>
                                <div class="instructions siteLabel"></div>
                            </div>
                            <div class="heading">
                                <label for="">Last Delivered:</label>
                                <div class="instructions dateDelivered"></div>
                            </div>
                            <div class="heading">
                                <label for="">Date Applied:</label>
                                <div class="instructions dateApplied"></div>
                            </div>
                            <div class="heading">
                                <label for="">Words Difference:</label>
                                <div class="instructions wordDifference"></div>
                            </div>
                        </div>

                        <input type="hidden" id="diff-file-id"/>
                        <input type="hidden" id="file-diff-html-url" value="{{ url('translations/orders/get-file-diff-html') }}"/>

                        <div id="content-container" >
                            <nav id="acc-tabs">
                                <ul>
                                    <li data-id="visual" id="visual-li">
                                        <a id="tab-visual" class="tab sel tab-visual" href="javascript:void(0)" title="Visual">Visual</a>
                                    </li>
                                    <li data-id="xml">
                                        <a id="tab-xml" class="tab tab-xml" href="javascript:void(0)" title="XML">XML</a>
                                    </li>
                                </ul>
                            </nav>
                            <div id="content" class="content-pane square">
                                <div id="xml" class="">
                                    <div id="modal-body-entry" class="modal-body-entry"></div>
                                </div>
                                <div id="visual" style="display: none; position: relative;">
                                    <span class="iframe-line"> </span>
                                    <iframe class="original" id="original-url" ></iframe>
                                    <iframe style="float: right" class="new" id="new-url" ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-order-navigation">
            {% if previous_order %}
                <a href="{{ previous_order }}"> « Previous Order </a>
            {% else %}
                « Previous Order
            {% endif %}
            {% if next_order %}
                <a href="{{ next_order }}"> Next Order »</a>
            {% else %}
                Next Order »
            {% endif %}
        </div>

    {% elseif orderSubmitted %}
        <div class="translations-order-confirmation flex">
            <div class="fullwidth readable">
                <img src="{{ cpAssetUrl }}/images/success.png" alt="">
                <div class="thank-you">
                    <h2>Thank You!</h2>
                    <p>Your order has been placed in the queue</p>
                </div>
                <div class="instructions">
                    <p>You can navigate away from this page. If you are not automatically redirected after your order is created, you can <a href="{{ url('translations/orders') }}">view your orders here</a>.</p>
                </div>
                <a href="{{ url('entries') }}" class="btn submit">Create New Order</a>
            </div>
        </div>
    {% else %}
        <form method="post" class="translations-order-form" accept-charset="UTF-8">
            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'translations/base/save-order',
            }) }}

            {{ forms.hidden({
                name: 'id',
                value: orderId,
            }) }}

            {{ forms.hidden({
                name: 'sourceSite',
                value: order.sourceSite,
            }) }}

            {% if orderId %}
                <h1>{{ 'Edit Order'|t }}</h1>
            {% else %}
                <h1>{{ 'Create New Order'|t }}</h1>
            {% endif %}

            <div class="translations-order-step-btngroup">
                <ul>
                    <li>
                        <a class="btn big{% if orderId %} prev{% endif %}" href="#step1" id="step_first">1 - {{ 'Choose Entries'|t }}</a>
                    </li>
                    <li>
                        <a class="btn big {% if orderId %}prev{% else %}disabled{% endif %}" href="#step2" id="step_two">2 - {{ 'Select Sites'|t }}</a>
                    </li>
                    <li>
                        <a class="btn big {% if orderId %}prev{% else %}disabled{% endif %}" href="#step3">3 - {{ 'Add Details'|t }}</a>
                    </li>
                    <li>
                        <a class="btn big{% if orderId is empty %} disabled{% endif %}" href="#step4">4 - {{ 'Submit'|t }}</a>
                    </li>
                </ul>
            </div>
            {% set elementIds = {} %}
            <div class="translations-order-steps">
                <div class="translations-order-step{% if orderId is empty %} active{% endif %}" id="step1">
                    <div class="translations-order-step-intro">
                        {% if duplicateEntries and chkDuplicateEntries  %}
                            <div class="warning-box">
                                <span class="warning" data-icon="alert"></span> &nbsp;
                                {{ 'This order contains entries that exist in one or more open orders, select the warning icon beside the Entry for additional details. Remove duplicate entries below or click "Next" to continue.'|t }}
                                <a href="{{ url('translations/settings/configuration-options') }}" target="_blank"> {{ 'Disable these warnings'|t }} </a>
                            </div>
                        {% endif %}

                        <h2>{{ 'Choose Entries'|t }}</h2>

                        <p>
                            <span style="font-weight: 600">{{ "Select which Entries you'd like to include in this order with the Add Entries button below."|t }}</span> <br/>
                            {{ "You can select multiple with:"|t }}
                        </p>

                        <ul class="bullets">
                            <li>{{ 'Mac: ⌘ + click'|t }}</li>
                            <li>{{ 'Windows: CTRL + click'|t }}</li>
                        </ul>
                    </div>

                    {% if orderEntriesCount == 0 %}
                    <h2>{{ 'No entries selected'|t }}</h2>
                    <p><a href="{{ url('entries') }}">{{ 'Add entries from the Craft Entry listing screen.'|t }} &raquo;</a></p>
                    {% else %}
                    <table class="data" dir="ltr">
                        <caption><span data-order-attribute="entriesCount">{{ orderEntriesCount }}</span> {{ orderEntriesCount == 1 ? 'entry selected'|t : 'entries selected'|t }}, <span data-order-attribute="wordCount">{{ orderWordCount }}</span> {{ 'words'|t }}</caption>
                        <thead>
                        <tr>
                            <th>{{ 'Title'|t }}</th>
                            <th>{{ 'Section'|t }}</th>
                            <th>{{ 'Date Updated'|t }}</th>
                            {#<th>{{ 'Source Site'|t }}</th>#}
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in elements %}
                            <tr data-word-count="{{ elementWordCounts[element.id] }}">
                                <td>{% include "_elements/element" with {'element': element} only %}
                                    {% if duplicateEntries[element.id] is defined and chkDuplicateEntries %}
                                        <span class="warning duplicate-warning">
                                            {{ 'This entry exists in ' }}
                                            {% for orderId in duplicateEntries[element.id] %}
                                                <a href="{{ url('translations/orders/detail/'~orderId) }}" target="_blank">#{{ orderId }}{{ (orderId != duplicateEntries[element.id]|last) ? ', ' : '' }}</a>
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if element.className == 'craft\\elements\\GlobalSet' %}
                                        {{ 'Globals' }}
                                    {% elseif element.className == 'craft\\elements\\Category' %}
                                        {{ 'Category' }}
                                    {% else %}
                                        {{ element.section.name }}
                                    {% endif %}

                                </td>
                                <td>{{ element.dateUpdated ? element.dateUpdated|date('n/j/y') : '' }}</td>
                                {#<td>{{sourceSite.name}} <span class="light">({{ sourceSite.language }})</span></td>#}
                                <td><a class="icon delete translations-order-delete-entry" title="{{ 'Delete entry'|t }}" data-element="{{element.id}}"><input type="hidden" name="elements[]" value="{{ element.id }}"></a></td>
                            </tr>
                            {% set elementIds = elementIds|merge({(loop.index0):element.id}) %}
                        {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>

                    <div class="item" data-position="left" data-colspan="1">
                        <div class="buttons flex">
                            <div class="submit">
                                <input type="hidden" id="addNewEntries" value="1">
                                <input type="hidden" id="currentElementIds" value="{{ elementIds|join(',') }}">
                                <a class="btn submit addEntries">{{ 'Add Entries'|t }}</a>
                            </div>
                            <div class="submit">
                                <a class="btn translations-order-step-next" href="#step2">{{ 'Next'|t }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="translations-order-step" id="step2">
                    <div class="translations-order-step-intro">
                        <h2>{{ 'Select Sites'|t }}</h2>

                        <input type="hidden" value="{{ url('translations/orders/create') }}" id="newOrderUrl">

                        <p>
                            <i>{{ 'Select your source and target sites. Only one source site may be selected per order.'|t }}</i><br>
                            <a href="{{ url('settings/sites') }}" target="_blank">{{ 'Add more sites from the Craft Sites settings page.'|t }} &raquo;</a>
                        </p>
                    </div>

                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Source Site'|t }}</label>
                        </div>
                        <div class="input {{ orientation }}">

                            {{ forms.selectField({
                                value: sourceSite.id,
                                options: {'':'Choose'|t ~ '...'}|merge(sourceSites),
                                name: 'sourceSiteSelect',
                                id: 'sourceSiteSelect'
                            }) }}
                            {#{{sourceSite.name}} <span class="light">({{ sourceSite.language }})</span>#}
                        </div>
                    </div>

                    {{ forms.checkboxSelectField({
                        label: 'Target Site(s)'|t,
                        options: targetSiteCheckboxOptions,
                        values: order.targetSites|json_decode(),
                        showAllOption: true,
                        name: 'targetSites',
                        id: 'targetSites'
                    }) }}

                    <div class="item" data-position="left" data-colspan="1">
                        <div class="buttons">
                            <div class="btngroup submit first">
                                <a class="btn submit translations-order-step-next" href="#step3">{{ 'Next'|t }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="translations-order-step" id="step3">
                    <div class="translations-order-step-intro">
                        <h2>{{ 'Add Details'|t }}</h2>

                        <p>
                            <i>{{ 'Define additional details about this order.'|t }}</i>
                        </p>
                    </div>

                    {{ forms.textField({
                        label: 'Order Name'|t,
                        value: order.title,
                        name: 'title',
                        id: 'title',
                        size: 20,
                        maxlength: 255,
                        placeholder: 'Optional'
                    }) }}

                    {{ forms.selectField({
                        fieldClass: 'hidden',
                        label: 'Order Owner'|t,
                        value: null,
                        options: owners,
                        name: 'ownerId',
                        id: 'ownerId',
                        size: 20
                    }) }}

                    {{ forms.dateField({
                        label: 'Requested Due Date'|t,
                        value: (order.requestedDueDate ? date(order.requestedDueDate) : null),
                        name: 'requestedDueDate',
                        id: 'requestedDueDate',
                        size: 20,
                        placeholder: 'Optional'
                    }) }}

                    {{ forms.textareaField({
                        label: 'Additional comments and instructions'|t,
                        value: order.comments,
                        name: 'comments',
                        id: 'comments',
                        maxlength: 2000,
                        size: 20
                    }) }}

                    <div class="item" data-position="left" data-colspan="1">
                        <div class="buttons">
                            <div class="btngroup submit first">
                                <a class="btn submit translations-order-step-next" href="#step4">{{ 'Next'|t }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="translations-order-step{% if orderId %} active{% endif %}" id="step4">
                    <div class="translations-order-step-intro">
                        <h2>{{ 'Review & Submit'|t }}</h2>

                        <p>
                            <i>{{ 'Review the summary of this order and submit for Translation.'|t }}</i>
                        </p>

                        <table class="data">
                            <tbody>
                            {% if order.serviceOrderId is not empty %}
                                <tr>
                                    <th>{{ 'ID'|t }}</th>
                                    <td>{{ order.serviceOrderId }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ 'Name'|t }}</th>
                                <td data-order-attribute="title">{{ order.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Source Site'|t }}</th>
                                <td>
                                    {{sourceSite.name}} <span class="light">({{ sourceSite.language }})</span>
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'Target Sites'|t }}</th>
                                <td>
                                    {% if orderId %}
                                        <span data-order-attribute="targetSites">
                                    {% for targetSite in orderTargetSitesObject %}
                                        {{targetSite.name}} <span class="light">({{ targetSite.language }})</span>
                                        {% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                    </span>
                                    {% else %}
                                        <span data-order-attribute="targetSites">{{ sites|join(', ') }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'Requested due date'|t }}</th>
                                <td data-order-attribute="requestedDueDate[date]">{{ order.requestedDueDate ? order.requestedDueDate|date('n/j/Y') : 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Entries'|t }}</th>
                                <td data-order-attribute="entriesCount">{{ orderEntriesCount }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Words'|t }}</th>
                                <td data-order-attribute="wordCount">{{ orderWordCount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    {{ forms.selectField({
                        label: 'Translation Service'|t,
                        value: order.translatorId,
                        options: translatorOptions,
                        name: 'translatorId',
                        id: 'translatorId',
                        size: 20
                    }) }}

                    {% if '' in translatorOptions|keys %}
                        <a href="{{url('translations/translators')}}">Add a translator &raquo;</a>
                    {% endif %}

                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Requested Due Date'|t }}</label>
                            &nbsp;&nbsp;&nbsp;
                            <a class="translations-order-step-prev" href="#step3">Edit &raquo;</a>
                        </div>
                        <div class="input {{ orientation }}">
                            <div data-order-attribute="requestedDueDate[date]">
                                {% if order.requestedDueDate %}
                                    {{ order.requestedDueDate|date('n/j/Y') }}
                                {% else %}
                                    <i>None</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Additional comments and instructions'|t }}</label>
                            &nbsp;&nbsp;&nbsp;
                            <a class="translations-order-step-prev" href="#step3">Edit &raquo;</a>
                        </div>
                        <div class="input {{ orientation }}">
                            <div data-order-attribute="comments" style="white-space: pre-wrap">{% if order.comments %}{{ order.comments }}{% else %}<i>None</i>{% endif %}</div>
                        </div>
                    </div>

                    <div class="item" data-position="left" data-colspan="1">
                        <div class="buttons">
                            <div class="btngroup submit">
                                <button type="submit" name="submit" value="submit" class="translations-order-submit-btn btn big submit{% if orderEntriesCount == 0 %} disabled{% endif %}"{% if orderEntriesCount == 0 %} disabled="disabled"{% endif %}>{{ 'Submit'|t }}</button>
                            </div>
                            {% if licenseStatus == 'valid' %}
                                <div class="btngroup submit">
                                    <button type="submit" class="translations-order-save-btn btn big">{{ 'Save'|t }}</button>
                                </div>
                            {% endif %}
                            <div class="translations-loader hidden">
                                <div class="spinner"></div>
                                <p class="translations-loader-msg hidden">{{ 'Please wait and do not close this window until the page finishes loading.'|t }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <div class="hidden">
        <div id="duplicate-modal" class="modal elementselectormodal" role="dialog">
            <div class="body">
                <div class="main" style="overflow:auto;height: 350px">
                    <div class="modal-header field">
                        <div class="modal-title">
                            <h1> {{ 'Duplicate Entries'|t }}</h1>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="heading">
                            <div> {{ 'The following entries are already added to the order '|t }}  "{{ order.title }} ({{ order.id }}):" </div>
                        </div>

                        <div class="bold">
                            <ul class="dup-entries-title"> </ul>
                        </div>

                        <div class="bold">
                            {{ 'How would you like to proceed?'|t }}
                        </div>
                        <div class="heading">
                            <input type="radio" name="skip_replace" value="skip" checked> <span class="bold"> {{ 'Skip'|t }} </span>{{ ' duplicate entries'|t }}<br/>
                            <input type="radio" name="skip_replace" value="replace"> <span class="bold"> {{ 'Replace'|t }} </span> {{ ' current entries'|t }}<br/>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <div class="buttons right">
                        <div class="btn" id="duplicate-cancel" tabindex="0">{{ 'Cancel'|t }}</div>
                        <div class="btn submit" id="duplicate-continue">{{ 'Continue'|t }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

