{% extends "_layouts/cp" %}
{% import 'translations-for-craft/_macros' as macros %}

{% set title = "Orders"|t %}
{% set elementType = 'acclaro\\translationsforcraft\\elements\\Order' %}

{% set tabs = adminTabs %}
{% set selectedTab = 'orders' %}

{% block actionButton %}
<form id="sync-orders" class="utility orders" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="translations-for-craft/base/sync-orders">
    {{ csrfInput() }}
    <div class="btngroup" style="margin-right:5px;">
        <input type="submit" class="btn big submit" value="{{ "Sync Orders"|t('app') }}" />
    </div>
    <div class="sync-status"></div>
</form>
{% js 'new Craft.TranslationsForCraft.SyncOrders(\'sync-orders\');' %}
<a class="btn big submit add icon btn-create-new-order" href="{{ url('translations-for-craft/orders/new') }}">{{ 'Create New Order'|t }}</a>
{% endblock %}

{% do view.registerAssetBundle("acclaro\\translationsforcraft\\assetbundles\\OrderAssets") %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('acclarotranslations') },
    { label: 'Orders'|t, url: 'javascript:void(0)' },
] %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% set showSiteMenu = (craft.app.getIsMultiSite() ? (showSiteMenu ?? 'auto') : false) %}
{% if showSiteMenu == 'auto' %}
    {% set showSiteMenu = elementInstance.isLocalized() %}
{% endif %}


{% block contextMenu %}
    {% if showSiteMenu %}
        {% include "_elements/sitemenu" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="elementindex">
        {{ parent() }}

        {{ macros.setElementIndexSource('all') }}

        {% include "_elements/indexcontainer" with {
            showSiteMenu: true
        } %}
    </div>
{% endblock %}


{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
        context:        '{{ context }}',
        storageKey:     'elementindex.{{ elementType|e("js") }}',
        criteria:       {{ {enabledForSite:null}|merge(searchParams)|json_encode|raw }}
    });
{% endblock %}

{% js block('initJs') %}