{% extends "_layouts/cp" %}
{% import 'translations/_macros' as macros %}

{% set title = "Orders"|t %}
{% set elementType = 'acclaro\\translations\\elements\\Order' %}

{% set disabled = '' %}
{% if (orderCountAcclaro == 0) %}
    {% set disabled = 'disabled' %}
{% endif %}

{% block actionButton %}
<form id="sync-orders" class="utility orders" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="translations/base/sync-orders">
    {{ csrfInput() }}
    <div class="btngroup" style="margin-right:5px;">
        <input type="submit" class="btn big submit {{ disabled }}" value="{{ "Sync Orders"|t('app') }}" {{ disabled }}/>
    </div>
    <div class="sync-status"></div>
</form>
<a class="btn big submit add icon btn-create-new-order" href="{{ url('translations/orders/new') }}">{{ 'Create New Order'|t }}</a>
{% endblock %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\OrderAssets") %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
    { label: 'Orders'|t, url: 'javascript:void(0)' },
] %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% set showSiteMenu = (craft.app.getIsMultiSite() ? (showSiteMenu ?? 'auto') : false) %}
{% if showSiteMenu == 'auto' %}
    {% set showSiteMenu = elementInstance.isLocalized() %}
{% endif %}


{% block contextMenu %}
    {% if showSiteMenu %}
        {% include "_elements/sitemenu" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if (orderCount > 0) %}
        <div class="elementindex">
            {{ parent() }}

            {{ macros.setElementIndexSource('all') }}

            {% include "_elements/indexcontainer" with {
                showSiteMenu: true
            } %}
        </div>
    {% else %}
        <span style="font-size: 16px"> {{ 'No translation orders available.'|t }} </span>
    {% endif %}
{% endblock %}


{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
        context:        '{{ context }}',
        storageKey:     'elementindex.{{ elementType|e("js") }}',
        criteria:       {{ {enabledForSite:null}|merge(searchParams)|json_encode|raw }}
    });
{% endblock %}

{% js block('initJs') %}