{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}
{% import 'translations/_components/_forms/button' as button %}

{% set elementType = 'acclaro\\translations\\elements\\Order' %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set title = elementInstance.pluralDisplayName|t('app') %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}


{% set disabled = '' %}
{% if (orderCountAcclaro == 0) %}
    {% set disabled = 'link-disabled' %}
{% endif %}

{% block actionButton %}
    <form id="sync-orders" class="utility orders" method="post" accept-charset="UTF-8">
        {{ forms.hidden({
            name: 'action',
            value: 'translations/order/sync-orders'
        }) }}
        {{ csrfInput() }}

        {{ button.syncOrderButton(disabled) }}
    </form>

    {{ button.anchorButton({
        label: 'New order',
        class: 'submit',
        href: url('translations/orders/create'),
        attributes: {
            data: {
                icon: 'language',
            },
        }
    }) }}
{% endblock %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\OrderAssets") %}

{% set sources = craft.app.elementSources.getSources(elementType, 'index') %}
{% set customizableSources = (sources is not empty and context == 'index' and currentUser.can('customizeSources')) %}

{% set showSiteMenu = (craft.app.getIsMultiSite() ? (showSiteMenu ?? 'auto') : false) %}
{% if showSiteMenu == 'auto' %}
    {% set showSiteMenu = elementInstance.isLocalized() %}
{% endif %}


{% block contextMenu %}
    {% if showSiteMenu %}
        {% include "_elements/sitemenu" %}
    {% endif %}
{% endblock %}


{% block sidebar %}
    {% if sources is not empty %}
        <nav aria-label="{{ 'Sources'|t('app') }}">
            {% include "_elements/sources" %}
        </nav>

        <div id="source-actions" class="buttons"></div>
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% include '_elements/toolbar' with {
        showSiteMenu: false,
    } %}
{% endblock %}

{% block content %}
    <div class="main">
        <a class="skip-link btn" href="#footer">{{ 'Skip to {title}'|t('app', { title: 'Footer'|t }) }}</a>
        <div class="elements busy">
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="count-spinner" class="spinner small hidden"></div>
    <div id="count-container" class="light flex-grow">&nbsp;</div>
    <div id="actions-container" class="flex"></div>
    <div id="export-files" class="btn">{{ 'Export…'|t('app') }}</div>
    {% js "new Craft.Translations.CustomExporters('export-files')" %}
{% endblock %}

{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#page-container'), {
    elementTypeName: '{{ elementInstance.displayName()|e("js") }}',
    elementTypePluralName: '{{ elementInstance.pluralDisplayName()|e("js") }}',
    context: '{{ context }}',
    storageKey: 'elementindex.{{ elementType|e("js") }}',
    criteria: Craft.defaultIndexCriteria,
    criteria: {{ (searchParams|raw) }},
    toolbarSelector: '#toolbar'
    });
{% endblock %}

{% js block('initJs') %}