{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Translations'|t %}
{% block actionButton %}
<small class="translations-version-header">{{'Version'|t}} {{pluginVersion}}</small>
{% endblock %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
    { label: 'Orders'|t, url: url('translations/orders') },
    { label: 'Reporting'|t, url: 'javascript:void(0)' },
] %}

{% block content %}

    <form class="translations-order-reporting" action="{{ url('translations/orders') }}">
        <h2>{{ 'Order Reporting'|t }}</h2>

        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="sourceSite">{{ 'Source language'|t }}:</label>
                    </td>
                    <td>
                        {{ forms.selectField({
                            value: sourceSite,
                            options: {'':'Choose'|t ~ '...'}|merge(sites),
                            name: 'sourceSite',
                            id: 'sourceSite'
                        }) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="targetSite">{{ 'Target language'|t }}:</label>
                    </td>
                    <td>
                        {{ forms.selectField({
                            value: targetSite,
                            options: {'':'Choose'|t ~ '...'}|merge(sites),
                            name: 'targetSite',
                            id: 'targetSite'
                        }) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="startDate-date">{{ 'Start date'|t }}:</label>
                    </td>
                    <td>
                        {{ forms.dateField({
                            value: startDate,
                            name: 'startDate',
                            id: 'startDate',
                            placeholder: 'Choose'|t ~ '...'
                        }) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endDate">{{ 'End date'|t }}:</label>
                    </td>
                    <td>
                        {{ forms.dateField({
                            value: endDate,
                            name: 'endDate',
                            id: 'endDate',
                            placeholder: 'Choose'|t ~ '...'
                        }) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="status">{{ 'Translation status'|t }}:</label>
                    </td>
                    <td>
                        {{ forms.selectField({
                            value: status,
                            options: {'':'Choose'|t ~ '...'}|merge(orderStatuses),
                            name: 'status',
                            id: 'status'
                        }) }}
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" class="btn submit" value="Go!">
    </form>

{% endblock %}
