{% import 'translations/_components/_forms/button' as button %}

<div class="translators-container scroll-x-auto">
    {% if translators|length %}
        <table class="data fullwidth table">
            <tr>
                <th>Name</th>
                <th>Service</th>
                <th style="text-align:right;">Status</th>
            </tr>
            {% for translator in translators %}
                <tr>
                    <td>
                        {% if translator.label|length %}
                            <a href="{{ url('translations/translators/detail/'~translator.id) }}">{{ translator.label }}</a>
                        {% else %}
                            {% switch translator.service %}
                            {% case "acclaro" %}
                                <a href="{{ url('translations/translators/detail/'~translator.id) }}">{{ 'Acclaro' }}</a>
                            {% case "export_import" %}
                                <a href="{{ url('translations/translators/detail/'~translator.id) }}">{{ 'Export/Import' }}</a>
                            {% endswitch %}
                        {% endif %}
                    </td>
                    <td>
                        {% switch translator.service %}
                        {% case "acclaro" %}
                            {{ 'Acclaro' }}
                        {% case "export_import" %}
                            {{ 'Export/Import' }}
                        {% endswitch %}
                    </td>
                    <td style="text-align:right;">
                        {% switch translator.status %}
                        {% case "active" %}
                            <span class="status green"></span>{{ translator.status|title }}
                        {% case "inactive" %}
                            <span class="status red"></span>{{ translator.status|title }}
                        {% endswitch %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="buttons right">
            {{ button.anchorButton({
                label: 'Add new'|t('app'),
                class: 'icon add',
                href: url('translations/translators/new')
            }) }}
        </div>
    {% else %}
        <table class="data fullwidth table">
            <tr>
                <td>
                    <p>{{ "No Translators available."|t('app') }}</p>
                </td>
            </tr>
        </table>
    {% endif %}
</div>