<div class="tab-container mt--30">
    {% set tabs = {
            "recent-entries-widget": {label: "New Source Entries"|t, url: 'javascript:void(0)'},
            "recently-modified-widget": {label: "Modified Source Entries"|t, url: 'javascript:void(0)'},
        }
    %}
    <header id="content-header" class="pane-header">
        {% include "_includes/tabs" with {
            containerAttributes: {
                id: 'tabs',
            },
        } %}
    </header>

    {# Recently modified tab data #}
    <div id="recently-modified-widget" class="recentlymodified-container hidden">
        <div class="spinner body-loading"></div>
        <div class="elements hidden">
            <div class="tableview scroll-x-auto mt--30">
                <table class="data fullwidth table">
                    <tr>
                        <td class="checkbox-cell"></td>
                        <th>Entry Title</th>
                        <th>Last Updated</th>
                        <th class="nowrap" style="text-align:right;">Compare Changes</th>
                    </tr>
                    {% for i in 1..limit %}
                        <tr id="item-{{i}}">&nbsp;</tr>
                    {% endfor %}
                </table>
            </div>
            <div class="buttons right" style="margin-top:14px;">
                <a href="#" id="bulk-reorder" class="btn submit disabled icon" data-icon="language" target="_blank">Re-order</a>
            </div>
        </div>
    </div>

    <div class="hidden">
        <div id="diff-modal" class="modal" tabindex="-1" role="dialog" style="padding:15px;overflow-y:auto;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header field">
                        <div class="modal-title">
                            <h1>Entry Modification Details</h1>
                            <div class="buttons">
                                <a href="#" id="close-diff-modal" class="btn">Close</a>
                                <a href="#" class="btn submit reorderUrl icon" data-icon="language" target="_blank">Re-order translations</a>
                            </div>
                        </div>
                        <div class="heading">
                            <label for="">Entry ID:</label>
                            <div class="instructions entryId"></div>
                        </div>
                        <div class="heading">
                            <label for="">Entry Title:</label>
                            <div class="instructions entryName"></div>
                        </div>
                        <div class="heading">
                            <label for="">Site:</label>
                            <div class="instructions siteLabel"></div>
                        </div>
                        <div class="heading">
                            <label for="">Last Translated:</label>
                            <div class="instructions fileDate"></div>
                        </div>
                        <div class="heading">
                            <label for="">Date Updated:</label>
                            <div class="instructions entryDate"></div>
                        </div>
                        <div class="heading">
                            <label for="">Words Difference:</label>
                            <div class="instructions wordDifference"></div>
                        </div>
                    </div>
                    <div id="modal-body" class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="recent-entries-widget" class="recententries-container">
        <div class="elements hidden">
            <div class="tableview scroll-x-auto mt--30">
                <table class="data fullwidth table">
                    <tr>
                        <td class="checkbox-cell"></td>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th class="nowrap" style="text-align:right;">View Source</th>
                    </tr>
                    {% for i in 1..limit %}
                        <tr id="item-entry-{{i}}">&nbsp;</tr>
                    {% endfor %}
                </table>
            </div>

            <div class="buttons right" style="margin-top:14px;">
                <a class="btn" href="{{ url('entries') }}">{{ 'View all entries'|t }}</a>
                <a href="#" id="new-entry-orders" class="btn submit disabled" target="_blank">{{ "New order"|t('app') }}</a>
            </div>

        </div>
    </div>

    <div class="hidden">
        <div id="diff-modal-entry" class="modal" tabindex="-1" role="dialog" style="padding:15px;overflow-y:auto;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header field">
                        <div class="modal-title">
                            <h1>New Source Entry Details</h1>
                            <div class="buttons">
                                <a href="#" id="close-diff-modal-entry" class="btn">Close</a>
                            </div>
                        </div>
                        <div class="heading">
                            <label for="">Entry ID:</label>
                            <div class="instructions entryId"></div>
                        </div>
                        <div class="heading">
                            <label for="">Entry Title:</label>
                            <div class="instructions entryName"></div>
                        </div>
                        <div class="heading">
                            <label for="">Site:</label>
                            <div class="instructions siteLabel"></div>
                        </div>
                    </div>
                    <div id="modal-body-entry" class="modal-body-entry"></div>
                </div>
            </div>
        </div>
    </div>
</div>
