{% extends "_layouts/cp" %}

{% set bodyClass = craft.app.request.segments()|slice(0, 3)|join(' ') %}

{% set selectedSubnavItem = craft.app.request.getSegment(2) %}
{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li>
                <a  href="{{ cpUrl('translations/settings/about') }}" {% if selectedSidebarItem == 'about' %}class="settings-sel"{% endif %}><div class="translations-icon">{{ svg('@app/icons/info-circle.svg') }}</div>{{"About"|t('app')}}</a>
            </li>
            <li>
                <a  href="{{ cpUrl('translations/settings/settings-check') }}" {% if selectedSidebarItem == 'settings-check' %}class="settings-sel"{% endif %}><div class="translations-icon">{{ svg('@app/icons/check.svg') }}</div>{{"Settings Check"|t('app')}}</a>
            </li>
            {# <li>
                <a  href="{{ cpUrl('translations/settings/test-connection') }}" {% if selectedSidebarItem == 'test-connection' %}class="settings-sel"{% endif %}><div class="translations-icon" data-icon="plugin"></div>{{"Test Connection"|t('app')}}</a>
            </li> #}
            <li>
                <a  href="{{ cpUrl('translations/settings/send-logs') }}" {% if selectedSidebarItem == 'send-logs' %}class="settings-sel"{% endif %}><div class="translations-icon">{{ svg('@app/icons/buoey.svg') }}</div>{{"Send Logs"|t('app')}}</a>
            </li>
            <li>
                <a  href="{{ cpUrl('translations/settings/clear-orders') }}" {% if selectedSidebarItem == 'clear-orders' %}class="settings-sel"{% endif %}><div class="translations-icon">{{ svg('@app/icons/trash.svg') }}</div>{{"Clear Orders"|t('app')}}</a>
            </li>
            <li>
                <a  href="{{ cpUrl('translations/settings/configuration-options') }}" {% if selectedSidebarItem == 'configuration-options' %}class="settings-sel"{% endif %}><div class="translations-icon" style="width: 18px; height: 17px; padding-right: 11px;"> <span class="icon icon-mask"> <span data-icon="settings"></span> </span> {#{{ svg('@app/icons/icon-mask.svg') }} #} </div> {{"Configuration Options"|t('app')}} </a>
            </li>
        </ul>
    </nav>

{% endset %}
