{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'translations/_components/_forms/button' as button %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\TranslatorAssets") %}

{% set title = translator.label|default("Create a new translator") %}

{% if (translatorId) %}
    {% set defaultLabel = (translator.label) ? translator.label : "Export/Import" %}
{% else %}
    {% set defaultLabel = null %}
{% endif %}

{% block actionButton %}
    {# ! NOTE: hidden button we don't support draft as of now #}
    <div class="btngroup hidden">
        {{ button.button({
            type: 'submit',
            label: 'Save as draft',
            class: 'link-disabled',
            attributes: {
                name: 'submit',
            }
        }) }}
    </div>
{% endblock %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
    { label: 'Translators'|t, url: url('translations/translators') },
] %}

{% block content %}
    <form method="post" class="translations-translator-form" data-confirm-unload accept-charset="UTF-8">
        {{ csrfInput() }}

        {{ forms.hidden({
            name: 'id',
            value: translatorId,
        }) }}

        {{ forms.hidden({
            name: 'flow',
            value: "save",
        }) }}

        {{ forms.hidden({
            name: 'status',
            id: 'status',
            value: translator.status ?: 'inactive',
        }) }}

        {{ forms.hidden({
            name: 'action',
            value: 'translations/translator/save'
        }) }}

        {{ forms.textField({
            label: 'Title <span class="required"></span><span class="ml-5" data-icon="language"></span>'|t,
            value: translator.label|default(defaultLabel),
            name: 'label',
            id: 'label',
            class: "fullwidth",
            placeholder: 'Add translator name'|t,
        }) }}

        {{ forms.selectField({
            label: 'Translation Service'|t,
            options: {'':'Choose'|t ~ '...'}|merge(translationServices),
            value: translator.service,
            name: 'service',
            id: 'service',
        }) }}

        <div class="translations-translator-settings bg-none" id="settings-acclaro">
            {{ forms.textField({
                label: 'Acclaro API Token<p class="fs-12">Don\'t have an Acclaro API key? <a href="https://info.acclaro.com/my-acclaro-registration">Register here</a></p>'|t,
                value: translator.setting('apiToken'),
                name: 'settings[acclaro][apiToken]',
                size: 20,
                id: 'settings-acclaro-apiToken',
            }) }}

            {{ forms.lightswitchField({
                label: 'Sandbox Mode'|t,
                on: translator.setting('sandboxMode'),
                name: 'settings[acclaro][sandboxMode]',
                id: 'settings-acclaro-sandboxMode',
            }) }}
        </div>
    </form>
{% endblock %}

{% block details %}
    <div id="meta-details" class="meta read-only">
        <div class="data">
            <div class="heading">
                <label id="slug-label" for="slug">Status</label>
            </div>
            <div id="status-value" class="value">
                {% if translator.status == "active" %}
                    <span class="status green"></span> {{ 'Live'|t }}
                {% elseif translator.status == "inactive" %}
                    <span class="status red"></span> {{ 'Inactive'|t }}
                {% else %}
                    <span class="status"></span> {{ 'N/A'|t }}
                {% endif %}
            </div>
        </div>
        <div class="data">
            <div class="heading">
                <span id="slug-label" for="slug">Created At</span>
            </div>
            <div id="status-value" class="value">
                <span> {{ translator.dateCreated ? translator.dateCreated|date('n/j/Y, H:i A') : 'N/A' }} </span>
            </div>
        </div>
        <div class="data">
            <div class="heading">
                <span id="slug-label" for="slug">Updated At</span>
            </div>
            <div id="status-value" class="value">
                <span> {{ translator.dateUpdated ? translator.dateUpdated|date('n/j/Y, H:i A') : 'N/A' }} </span>
            </div>
        </div>
    </div>
{% endblock %}