{% extends '_layouts/cp' %}
{% import 'translations/_components/_forms/button' as button %}

{% set title = 'Translators'|t %}
{% set elementType = 'acclaro\\translations\\elements\\\Translator' %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% block actionButton %}
    <div class="btn menubtn settings icon"></div>
    <div class="menu">
        <ul>
            <li><a class="edit-translator disabled" title="{{ 'Edit translator service'|t }}"> Edit</a></li>
        </ul>
        <hr>
        <ul>
            <li><a class="error delete-translator disabled" title="{{ 'Delete translator service'|t }}" data-confirm="{{ 'Are you sure you want to delete selected translators?'|t }}">Delete</a></li>
        </ul>
    </div>

    {{ button.anchorButton({
        label: 'New order'|t,
        href: url('translations/orders/create'),
        attributes: {
            data: {
                icon: 'language',
            },
        }
    }) }}

    {{ button.anchorButton({
        label: 'New translator'|t,
        class: 'submit icon add',
        href: url('translations/translators/new')
    }) }}
{% endblock %}

{% do view.registerAssetBundle("acclaro\\translations\\assetbundles\\TranslatorAssets") %}

{% set crumbs = [
    { label: 'Translations'|t, url: url('translations') },
] %}

{% set sources = craft.app.elementSources.getSources(elementType, 'index') %}

{% block sidebar %}
    {% if sources is not empty %}
        <nav>
            {% include "_elements/sources" %}
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="translations-element-index">
        {% if translators is not empty %}
        <table class="data">
            <thead>
                <tr>
                    <td class="checkbox-cell selectallcontainer orderable" role="checkbox">
                        <input type="checkbox" class="thin" title="select all" id="translator-0"/>
                        <label for="translator-0"></label>
                    </td>
                    <th>{{ 'Name'|t }}</th>
                    <th>{{ 'Status'|t }}</th>
                    <th>{{ 'Service'|t }}</th>
                </tr>
            </thead>
            <tbody>
            {% for translator in translators %}
                <tr>
                    <td class="checkbox-cell">
                        <input type="checkbox" title="select" id="{{ 'translator-'~translator.id }}"
                            data-url="{{ url('translations/translators/detail/'~translator.id) }}" data-id="{{ translator.id }}"/>
                        <label for="{{ 'translator-'~translator.id }}"></label>
                    </td>
                    <td><a href="{{ url('translations/translators/detail/'~translator.id) }}">{{ translator.name }}</a></td>
                    <td>
                        {% switch translator.status %}
                        {% case "active" %}
                            <span class="status green"></span>{{ translator.status|title }}
                        {% case "inactive" %}
                            <span class="status red"></span>{{ translator.status|title }}
                        {% endswitch %}
                    </td>
                    <td>
                        {% switch translator.service %}
                            {% case "export_import" %}
                                {{ 'Export/Import' }}
                            {% default %}
                                {{ translator.service|title }}
                        {% endswitch %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Translators available.</p>
        {% endif %}
    </div>
{% endblock %}
