<table class="data fullwidth" dir="ltr">
    <thead>
        <tr>
            {% if order.canEnableFilesCheckboxes %}
                {% set fileCheckboxProp = '' %}
            {% endif %}
            <td class="thin checkbox-cell translations-checkbox-cell select-all-checkbox">
                <input class="checkbox hidden" id="file-0" type="checkbox" {{ fileCheckboxProp }}>
                <label class="checkbox" for="file-0"></label>
            </td>
            <th>{{ 'Title'|t }}</th>
            <th>{{ 'Target Site'|t }}</th>
            <th>{{ 'Section'|t }}</th>
            <th>{{ 'Last Delivery'|t }}</th>
            <th>{{ 'Status'|t }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% set registerDeltas = true %}
        {% for file in order.files %}
            {% set element = file.element(false) %}
            {% if element is not null %}
                {% set isCraftCommerce = element.className == constant('acclaro\\translations\\Constants::CLASS_COMMERCE_PRODUCT') %}
                <tr data-word-count="{{ elementWordCounts[file.elementId] }}" data-element-id="{{ file.elementId }}" class="diff-clone" data-file-id="{{ file.id }}">

                    <td class="thin checkbox-cell translations-checkbox-cell file">
                        {% if file.canEnableFilesCheckboxes %}
                            <input class="checkbox hidden" data-element="{{ file.elementId }}" id="file-{{ file.id }}" type="checkbox" name="files[]" value="{{ file.id }}"/>
                        {% else %}
                            <input class="checkbox hidden" data-element="{{ file.elementId }}" id="file-{{ file.id }}" type="checkbox" name="files[]" value="{{ file.id }}" disabled="disabled"/>
                        {% endif %}
                        <label class="checkbox" for="file-{{ file.id }}"></label>
                    </td>

                    <td>
                        {% if not file.hasPreview and file.isComplete %}
                            <table>
                                <tr>
                                    <td>
                                        <a href="{{ file.cpEditUrl }}" target="_blank">
                                            {{ file.uiLabel }}
                                        </a>
                                        {% set sourceUpdated = file.elementId in isSourceChanged %}
                                        {% set targetUpdated = order.trackTargetChanges and file.hasTmMisalignments and not file.isNew and not file.isModified %}
                                        {% if canUpdateFiles and not file.isPublished and (sourceUpdated or targetUpdated) %}
                                            <span class="warning order-warning font-size-15" data-icon="alert">
                                                {% if sourceUpdated %}
                                                    <li> {{ 'Source entry content has been modified since order was created.' }} </li>
                                                {% endif %}

                                                {% if targetUpdated %}
                                                    <li> {{ 'Target entry content has been modified since order was created.' }} </li>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <div id="{{ "filePreview-"~ file.id }}">
                                <div class="elements">
                                    <div class="element small" title="{{ file.uiLabel ~" - " ~siteObjects[file.targetSite].name }}">
                                        <div class="label" data-id="{{ file.elementId }}" data-editable="" data-site-id={{ file.targetSite }} {% if file.isComplete or element.isDraft %} data-draft-id={{ file.isComplete ? file.draftId : element.draftId }} {% endif %}>
                                            <span class="title text-link">{{ file.uiLabel }}</span>
                                        </div>
                                        {% set sourceUpdated = file.elementId in isSourceChanged %}
                                        {% set targetUpdated = order.trackTargetChanges and file.hasTmMisAlignments and not file.isNew and not file.isModified %}

                                        {# Ignore target changes for api order that are completed #}
                                        {% if not order.hasDefaultTranslator and (order.isReviewReady or order.isComplete or order.isPublished) %}
                                            {% set targetUpdated = false %}
                                        {% endif %}

                                    {# Create Preview for each target entry #}
                                    {% if file.hasPreview or isCraftCommerce %}
                                        {% set fileId = 'file_' ~ file.id %}

                                        <a id="{{ fileId }}" data-icon="world" title="{{ 'Visit webpage'|t }}"></a>

                                        {% js %}
                                            {% if element.className == constant('acclaro\\translations\\Constants::CLASS_COMMERCE_PRODUCT') %}
                                                new Craft.Translations.CommercePreview({{ file.filePreviewSettings('#'~ fileId)|json_encode|raw }});
                                            {% else %}
                                                new Craft.Translations.FilePreview($('#{{fileId}}'), {{ file.filePreviewSettings|json_encode|raw }});
                                            {% endif %}
                                        {% endjs %}
                                    {% endif %}

                                        {% if canUpdateFiles and not file.isPublished and (sourceUpdated or targetUpdated) %}
                                            <span class="warning order-warning font-size-15" data-icon="alert">
                                                {% if sourceUpdated %}
                                                    <li> {{ 'Source entry content has been modified since order was created.' }} </li>
                                                {% endif %}

                                                {% if targetUpdated %}
                                                    <li> {{ 'Target entry content has been modified since order was created.' }} </li>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% js %}
                                new Craft.Translations.EntryPreview({{ file.entryPreviewSettings|json_encode|raw }});
                            {% endjs %}
                        {% endif %}
                    </td>

                    <td>
                        <table>
                            <tr>
                                {% if siteObjects[file.targetSite] is defined %}
                                    <td>
                                        {{siteObjects[file.targetSite].name}} ({{ siteObjects[file.targetSite].language }})
                                    </td>
                                {% else %}
                                    <td style="color:red;">
                                        {{ "Deleted" }}
                                    </td>
                                {% endif %}
                            </tr>
                        </table>
                    </td>

                    <td>
                        {% if element.className == constant('acclaro\\translations\\Constants::CLASS_GLOBAL_SET') %}
                            {{ 'Globals' }}
                        {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_CATEGORY') %}
                            {{ 'Category' }}
                        {% elseif element.className == constant('acclaro\\translations\\Constants::CLASS_ASSET') %}
                            {{ 'Asset' }}
                        {% elseif isCraftCommerce %}
                            {{ element.type }}
                        {% else %}
                            {{ element.section.name }}
                        {% endif %}
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td>
                                {% if file.isReviewReady or file.isComplete or file.isPublished %}
                                    {{ file.dateDelivered ? file.dateDelivered|date('M j, Y g:i a') : '--' }}
                                {% else %}
                                    {{ '--' }}
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td class="inline-flex align-center">
                                    <span class="status {{ file.statusColor }}"
                                        style="position: absolute;left: -10px;"
                                        data-status="{{ file.hasSourceTargetDiff }}">
                                        </span>{{ file.statusLabel }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td><table><thead><th class="bg-none icon ordered desc orderable hidden"><button type="button"></button></th></thead></table></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>